{% extends "secureX_site/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}

<img class="home" src="{% static 'images/home.jpg' %}"  width="600" height="550">
<div class="text-block">
  <h1><b>SecureXpert</b></h1>
  <p style="color:#F0FFFF; font-family:'Courier New'" >#1 SECURITY SERVICES COMPANY
  <br>
  From security guards to event security to alarm monitoring and patrol,
  our security services company is the top choice for some of the biggest
  names in the world. Get the security services you need, guaranteed. Training courses for various security service ventures also provided. We are also hiring! Checkout the Careers Page...
</p>

</div>
{% endblock %}